In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import f_classif
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('test_data.csv')
final_df=pd.DataFrame()
final_df['Feature']=['temperature',
        'tyre1_press',
        'tyre2_press',
        'tyre3_press',
        'tyre4_press',
        'tyre5_press',
        'tyre6_press',
        'avg_speed',
        'time',
        'fuel',]
feature_dict = {i:label for i,label in zip(
                range(21),
                  ('load_type',
                   'truck_type',
                   'route_type',
                   'rainfall',
                   'temperature',
                   'temp_type',
                   'tyre1_press',
                   'tyre1_press_stat',
                   'tyre2_press',
                   'tyre2_press_stat',
                   'tyre3_press',
                   'tyre3_press_stat',
                   'tyre4_press',
                   'tyre4_press_stat',
                   'tyre5_press',
                   'tyre5_press_stat',
                   'tyre6_press',
                   'tyre6_press_stat',
                   'avg_speed',
                   'time',
                   'fuel',
                   ))}

df.columns = [ l for i,l in sorted(feature_dict.items())] + [ 'tyre1_condition',
                                                               'tyre2_condition',
                                                               'tyre3_condition',
                                                               'tyre4_condition',
                                                               'tyre5_condition',
                                                               'tyre6_condition',
                                                               'efficiency',      ]
df.dropna(how="all", inplace=True) # to drop the empty line at file-end

df.head()

,load_type,truck_type,route_type,rainfall,temperature,temp_type,tyre1_press,tyre1_press_stat,tyre2_press,tyre2_press_stat,...,avg_speed,time,fuel,tyre1_condition,tyre2_condition,tyre3_condition,tyre4_condition,tyre5_condition,tyre6_condition,efficiency
0,Moderate,FTL,Bumpy,N,28,Normal,40,Correct,64,Correct,...,53,9,33,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_flat,tyre6_not flat,0.604936
1,Heavy Load,FTL,Hilly,Y,44,High,67,High,40,Correct,...,51,13,35,tyre1_flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_not flat,tyre6_not flat,0.215965
2,Full Load,FTL,Hilly,N,32,Normal,48,Correct,68,High,...,51,6,19,tyre1_not flat,tyre2_flat,tyre3_not flat,tyre4_not flat,tyre5_not flat,tyre6_not flat,0.813573
3,Heavy Load,FTL,Plain,N,26,Normal,52,Correct,60,Correct,...,48,6,80,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_not flat,tyre6_not flat,0.537890
4,Moderate,LCV,Hilly,N,25,Normal,61,Correct,51,Correct,...,51,5,26,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_not flat,tyre6_not flat,0.061304

In [2]:
X=df[['temperature','tyre1_press',
      'tyre2_press','tyre3_press',
      'tyre4_press','tyre5_press',
      'tyre6_press','avg_speed',
      'time','fuel']].values
X= StandardScaler().fit_transform(X)


cleanup_nums = { "tyre1_condition": {"tyre1_not flat": 0,  "tyre1_flat": 1},
                "tyre2_condition": {"tyre2_not flat": 0,  "tyre2_flat": 1},
                "tyre3_condition": {"tyre3_not flat": 0,  "tyre3_flat": 1},
                "tyre4_condition": {"tyre4_not flat": 0,  "tyre4_flat": 1},
                "tyre5_condition": {"tyre5_not flat": 0,  "tyre5_flat": 1},
                "tyre6_condition": {"tyre6_not flat": 0,  "tyre6_flat": 1}
               }
df.replace(cleanup_nums, inplace=True)

C:\Users\Pooja\Anaconda3\lib\site-packages\sklearn\utils\validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [3]:

y1=df['tyre1_condition']
y2=df['tyre2_condition']
y3=df['tyre3_condition']
y4=df['tyre4_condition']
y5=df['tyre5_condition']
y6=df['tyre6_condition']

scores1,pvalues1=f_classif(X,y1)
scores2,pvalues2=f_classif(X,y2)
scores3,pvalues3=f_classif(X,y3)
scores4,pvalues4=f_classif(X,y4)
scores5,pvalues5=f_classif(X,y5)
scores6,pvalues6=f_classif(X,y6)

In [4]:
Final_features=pd.DataFrame()
Final_features['Feature']=['Temperature',
                           'Tyre1_Press',
                           'Tyre2_Press',
                           'Tyre3_Press',
                           'Tyre4_Press',
                           'Tyre5_Press',
                           'Tyre6_Press',
                           'Avg_Speed',
                           'Time',
                           'Fuel']
Final_features['F_Scores1'] = scores1
Final_features['P_Values1']=pvalues1

Final_features['F_Scores2'] =scores2
Final_features['P_Values2']=pvalues2

Final_features['F_Scores3'] =scores3
Final_features['P_Values3']=pvalues3

Final_features['F_Scores4'] =scores4
Final_features['P_Values4']=pvalues4

Final_features['F_Scores5'] =scores5
Final_features['P_Values5']=pvalues5

Final_features['F_Scores6'] =scores6
Final_features['P_Values6']=pvalues6

In [5]:
final_df1=pd.DataFrame()
final_df1=Final_features.copy()

In [6]:
y_new=pd.DataFrame()
X1 = df['tyre1_condition'].values
X2 = df['tyre2_condition'].values
X3 = df['tyre3_condition'].values
X4 = df['tyre4_condition'].values
X5 = df['tyre5_condition'].values
X6 = df['tyre6_condition'].values

y = df['load_type'].values

y_new['load_type']=y
cleanup_nums = {"load_type":     {"Heavy Load": 1, "Moderate": 0, "Full Load": 0.5}}
y_new.replace(cleanup_nums, inplace=True)
y_new.head()

y = df['temp_type'].values

y_new['temp_type']=y
cleanup_nums = { "temp_type": {"Low": 0, "Normal": 0.5, "High": 1}}
y_new.replace(cleanup_nums, inplace=True)
y_new.head()

y = df['tyre1_press_stat'].values

y_new['tyre1_press_stat']=y
cleanup_nums = { "tyre1_press_stat": {"Low": 0, "Correct": 0.5, "High": 1}}
y_new.replace(cleanup_nums, inplace=True)
y_new.head()

y = df['tyre2_press_stat'].values

y_new['tyre2_press_stat']=y
cleanup_nums = { "tyre2_press_stat": {"Low": 0, "Correct": 0.5, "High": 1}}
y_new.replace(cleanup_nums, inplace=True)
y_new.head()

y = df['tyre3_press_stat'].values

y_new['tyre3_press_stat']=y
cleanup_nums = { "tyre3_press_stat": {"Low": 0, "Correct": 0.5, "High": 1}}
y_new.replace(cleanup_nums, inplace=True)
y_new.head()

y = df['tyre4_press_stat'].values

y_new['tyre4_press_stat']=y
cleanup_nums = { "tyre4_press_stat": {"Low": 0, "Correct": 0.5, "High": 1}}
y_new.replace(cleanup_nums, inplace=True)
y_new.head()

y = df['tyre5_press_stat'].values

y_new['tyre5_press_stat']=y
cleanup_nums = { "tyre5_press_stat": {"Low": 0, "Correct": 0.5, "High": 1}}
y_new.replace(cleanup_nums, inplace=True)
y_new.head()

y = df['tyre6_press_stat'].values

y_new['tyre6_press_stat']=y
cleanup_nums = { "tyre6_press_stat": {"Low": 0, "Correct": 0.5, "High": 1}}
y_new.replace(cleanup_nums, inplace=True)

In [7]:

scores1,pvalues1=f_classif(y_new,X1)
scores2,pvalues2=f_classif(y_new,X2)
scores3,pvalues3=f_classif(y_new,X3)
scores4,pvalues4=f_classif(y_new,X4)
scores5,pvalues5=f_classif(y_new,X5)
scores6,pvalues6=f_classif(y_new,X6)
y1=pd.DataFrame()
y1=y_new

In [8]:

Final_features=pd.DataFrame()
Final_features['Feature']=['Load Type',
                   'Temp Type',
                   'Tyre1 Press Stat',
                   'Tyre2 Press Stat',
                   'Tyre3 Press Stat',
                   'Tyre4 Press Stat',
                   'Tyre5 Press Stat',
                   'Tyre6 Press Stat',]
Final_features['F_Scores1'] = scores1
Final_features['P_Values1']=pvalues1

Final_features['F_Scores2'] =scores2
Final_features['P_Values2']=pvalues2

Final_features['F_Scores3'] =scores3
Final_features['P_Values3']=pvalues3

Final_features['F_Scores4'] =scores4
Final_features['P_Values4']=pvalues4

Final_features['F_Scores5'] =scores5
Final_features['P_Values5']=pvalues5

Final_features['F_Scores6'] =scores6
Final_features['P_Values6']=pvalues6

In [9]:
y_new=pd.DataFrame()
X1 = df['tyre1_condition'].values
X2 = df['tyre2_condition'].values
X3 = df['tyre3_condition'].values
X4 = df['tyre4_condition'].values
X5 = df['tyre5_condition'].values
X6 = df['tyre6_condition'].values

y = df['truck_type'].values
y_new['truck_type']=y

y_new = pd.concat([y_new.drop('truck_type', axis=1), pd.get_dummies(df['truck_type'])], axis=1)
y = df['route_type'].values
y_new['route_type']=y
y_new = pd.concat([y_new.drop('route_type', axis=1), pd.get_dummies(df['route_type'])], axis=1)

y = df['rainfall'].values
y_new['rainfall']=y
y_new = pd.concat([y_new.drop('rainfall', axis=1), pd.get_dummies(df['rainfall'])], axis=1)

In [10]:

scores1,pvalues1=f_classif(y_new,X1)
scores2,pvalues2=f_classif(y_new,X2)
scores3,pvalues3=f_classif(y_new,X3)
scores4,pvalues4=f_classif(y_new,X4)
scores5,pvalues5=f_classif(y_new,X5)
scores6,pvalues6=f_classif(y_new,X6)

In [11]:

Final_features2=pd.DataFrame()
Final_features2['Feature']=['FTL',
                   'LCV',
                   'Bumpy',
                   'Hilly',
                   'Plain',
                   'N',
                   'Y',]
Final_features2['F_Scores1'] = scores1
Final_features2['P_Values1']=pvalues1
Final_features2['F_Scores2']=scores2
Final_features2['P_Values2']=pvalues2
Final_features2['F_Scores3']=scores3
Final_features2['P_Values3']=pvalues3
Final_features2['F_Scores4']=scores4
Final_features2['P_Values4']=pvalues4
Final_features2['F_Scores5']=scores5
Final_features2['P_Values5']=pvalues5
Final_features2['F_Scores6']=scores6
Final_features2['P_Values6']=pvalues6

In [12]:
final_df=pd.DataFrame()
final_df['Features']=['load_type',
                   'temp_type',
                   'tyre1_press_stat',
                   'tyre2_press_stat',
                   'tyre3_press_stat',
                   'tyre4_press_stat',
                   'tyre5_press_stat',
                   'tyre6_press_stat',
                      'FTL',
                   'LCV',
                   'Bumpy',
                   'Hilly',
                   'Plain',
                   'N',
                   'Y',]
final_df=Final_features.append(Final_features2, ignore_index = True) 
final_df.round(3)

,Feature,F_Scores1,P_Values1,F_Scores2,P_Values2,F_Scores3,P_Values3,F_Scores4,P_Values4,F_Scores5,P_Values5,F_Scores6,P_Values6
0,Load Type,9.831,0.002,2.490,0.116,0.178,0.673,4.099,0.044,3.240,0.073,0.124,0.725
1,Temp Type,0.584,0.445,0.176,0.675,0.004,0.947,0.003,0.956,0.001,0.972,0.001,0.977
2,Tyre1 Press Stat,0.584,0.445,0.176,0.675,0.004,0.947,0.003,0.956,0.001,0.972,0.001,0.977
3,Tyre2 Press Stat,0.505,0.478,1.323,0.251,0.006,0.936,0.004,0.947,0.002,0.966,0.001,0.972
4,Tyre3 Press Stat,0.651,0.420,0.421,0.517,133.920,0.000,2.587,0.109,0.044,0.834,0.029,0.864
5,Tyre4 Press Stat,0.025,0.873,0.016,0.898,3.450,0.064,5.022,0.026,0.002,0.967,0.001,0.973
6,Tyre5 Press Stat,0.059,0.808,0.038,0.845,0.014,0.907,0.010,0.922,30.628,0.000,0.003,0.959
7,Tyre6 Press Stat,0.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000
8,FTL,0.800,0.372,0.017,0.898,1.873,0.172,1.176,0.279,0.289,0.592,2.116,0.147
9,LCV,0.800,0.372,0.017,0.898,1.873,0.172,1.176,0.279,0.289,0.592,2.116,0.147
10,Bumpy,0.256,0.613,9.075,0.003,2.818,0.094,0.138,0.711,1.314,0.253,1.091,0.297
11,Hilly,1.920,0.167,8.911,0.003,0.652,0.420,2.334,0.128,2.237,0.136,0.047,0.828
12,Plain,1.123,0.290,0.008,0.931,0.917,0.339,5.062,0.025,0.207,0.649,0.880,0.349
13,N,33.339,0.000,0.003,0.954,1.310,0.253,0.068,0.794,0.380,0.538,0.253,0.616
14,Y,33.339,0.000,0.003,0.954,1.310,0.253,0.068,0.794,0.380,0.538,0.253,0.616

In [13]:
results_df=pd.DataFrame()
results_df=final_df1.append(final_df, ignore_index = True)

results_df=results_df.sort_values(by=['F_Scores1','P_Values1'],ascending=[False,True])
results_df['Rank1']=range(1,26)
results_df=results_df.sort_values(by=['F_Scores2','P_Values2'],ascending=[False,True])
results_df['Rank2']=range(1,26)
results_df=results_df.sort_values(by=['F_Scores3','P_Values3'],ascending=[False,True])
results_df['Rank3']=range(1,26)
results_df=results_df.sort_values(by=['F_Scores4','P_Values4'],ascending=[False,True])
results_df['Rank4']=range(1,26)
results_df=results_df.sort_values(by=['F_Scores5','P_Values5'],ascending=[False,True])
results_df['Rank5']=range(1,26)
results_df=results_df.sort_values(by=['F_Scores6','P_Values6'],ascending=[False,True])
results_df['Rank6']=range(1,26)

results_df=results_df.sort_index(axis = 0) 

results_df=results_df.round(3)

results_df

,Feature,F_Scores1,P_Values1,F_Scores2,P_Values2,F_Scores3,P_Values3,F_Scores4,P_Values4,F_Scores5,P_Values5,F_Scores6,P_Values6,Rank1,Rank2,Rank3,Rank4,Rank5,Rank6
0,Temperature,0.381,0.538,0.108,0.742,0.065,0.799,0.052,0.820,0.189,0.664,0.041,0.839,17,16,20,19,15,14
1,Tyre1_Press,0.182,0.670,0.251,0.617,0.155,0.694,0.306,0.581,2.458,0.118,0.936,0.334,20,13,19,10,3,6
2,Tyre2_Press,1.892,0.170,0.801,0.372,1.253,0.264,0.007,0.933,0.081,0.776,1.643,0.201,7,8,13,21,16,3
3,Tyre3_Press,0.248,0.619,2.611,0.107,9.305,0.003,0.148,0.701,1.217,0.271,0.006,0.936,19,3,2,14,6,18
4,Tyre4_Press,0.464,0.496,0.300,0.584,4.338,0.038,140.588,0.000,0.031,0.860,0.021,0.885,15,12,4,1,18,17
5,Tyre5_Press,0.014,0.905,1.459,0.228,0.517,0.473,0.252,0.616,0.987,0.321,0.386,0.535,24,6,16,11,7,9
6,Tyre6_Press,0.133,0.716,0.373,0.542,0.353,0.553,0.165,0.685,0.021,0.884,0.032,0.857,21,11,17,12,19,15
7,Avg_Speed,0.407,0.524,0.742,0.390,2.487,0.116,0.118,0.732,0.190,0.663,1.194,0.276,16,9,8,16,14,4
8,Time,28.829,0.000,2.158,0.143,3.321,0.070,0.651,0.420,0.003,0.960,0.403,0.526,3,5,6,9,20,8
9,Fuel,4.416,0.037,0.026,0.872,4.560,0.034,0.156,0.693,0.828,0.364,0.000,0.991,5,18,3,13,8,24
10,Load Type,9.831,0.002,2.490,0.116,0.178,0.673,4.099,0.044,3.240,0.073,0.124,0.725,4,4,18,4,2,12
11,Temp Type,0.584,0.445,0.176,0.675,0.004,0.947,0.003,0.956,0.001,0.972,0.001,0.977,12,14,23,23,23,22
12,Tyre1 Press Stat,0.584,0.445,0.176,0.675,0.004,0.947,0.003,0.956,0.001,0.972,0.001,0.977,13,15,24,24,24,23
13,Tyre2 Press Stat,0.505,0.478,1.323,0.251,0.006,0.936,0.004,0.947,0.002,0.966,0.001,0.972,14,7,22,22,21,20
14,Tyre3 Press Stat,0.651,0.420,0.421,0.517,133.920,0.000,2.587,0.109,0.044,0.834,0.029,0.864,11,10,1,5,17,16
15,Tyre4 Press Stat,0.025,0.873,0.016,0.898,3.450,0.064,5.022,0.026,0.002,0.967,0.001,0.973,23,21,5,3,22,21
16,Tyre5 Press Stat,0.059,0.808,0.038,0.845,0.014,0.907,0.010,0.922,30.628,0.000,0.003,0.959,22,17,21,20,1,19
17,Tyre6 Press Stat,0.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000,0.000,1.000,25,25,25,25,25,25
18,FTL,0.800,0.372,0.017,0.898,1.873,0.172,1.176,0.279,0.289,0.592,2.116,0.147,10,20,9,7,12,2
19,LCV,0.800,0.372,0.017,0.898,1.873,0.172,1.176,0.279,0.289,0.592,2.116,0.147,9,19,10,8,11,1
20,Bumpy,0.256,0.613,9.075,0.003,2.818,0.094,0.138,0.711,1.314,0.253,1.091,0.297,18,1,7,15,5,5
21,Hilly,1.920,0.167,8.911,0.003,0.652,0.420,2.334,0.128,2.237,0.136,0.047,0.828,6,2,15,6,4,13
22,Plain,1.123,0.290,0.008,0.931,0.917,0.339,5.062,0.025,0.207,0.649,0.880,0.349,8,22,14,2,13,7
23,N,33.339,0.000,0.003,0.954,1.310,0.253,0.068,0.794,0.380,0.538,0.253,0.616,1,23,11,17,9,10
24,Y,33.339,0.000,0.003,0.954,1.310,0.253,0.068,0.794,0.380,0.538,0.253,0.616,2,24,12,18,10,11