In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('test_data.csv')
feature_dict = {i:label for i,label in zip(
                range(21),
                  ('load_type',
                   'truck_type',
                   'route_type',
                   'rainfall',
                   'temperature',
                   'temp_type',
                   'tyre1_press',
                   'tyre1_press_stat',
                   'tyre2_press',
                   'tyre2_press_stat',
                   'tyre3_press',
                   'tyre3_press_stat',
                   'tyre4_press',
                   'tyre4_press_stat',
                   'tyre5_press',
                   'tyre5_press_stat',
                   'tyre6_press',
                   'tyre6_press_stat',
                   'avg_speed',
                   'time',
                   'fuel',
                   ))}

df.columns = [l for i,l in sorted(feature_dict.items())] + [
                   'tyre1_condition',
                   'tyre2_condition',
                   'tyre3_condition',
                   'tyre4_condition',
                   'tyre5_condition',
                   'tyre6_condition',
                   'efficiency',      ]
df.dropna(how="all", inplace=True) # to drop the empty line at file-end

df.tail()

,load_type,truck_type,route_type,rainfall,temperature,temp_type,tyre1_press,tyre1_press_stat,tyre2_press,tyre2_press_stat,...,avg_speed,time,fuel,tyre1_condition,tyre2_condition,tyre3_condition,tyre4_condition,tyre5_condition,tyre6_condition,efficiency
245,Heavy Load,FTL,Bumpy,N,26,Normal,61,Correct,47,Correct,...,52,13,58,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_not flat,tyre6_not flat,0.454402
246,Heavy Load,FTL,Bumpy,N,33,Normal,35,Correct,50,Correct,...,55,12,55,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_not flat,tyre6_not flat,0.374753
247,Moderate,LCV,Hilly,N,27,Normal,50,Correct,58,Correct,...,47,16,76,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_not flat,tyre6_not flat,0.853543
248,Moderate,FTL,Bumpy,N,25,Normal,38,Correct,55,Correct,...,46,10,50,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_flat,tyre6_not flat,0.969576
249,Full Load,LCV,Plain,N,31,Normal,41,Correct,36,Correct,...,53,9,38,tyre1_not flat,tyre2_not flat,tyre3_not flat,tyre4_not flat,tyre5_flat,tyre6_not flat,0.286744

In [2]:
final_df=pd.DataFrame()
final_df['Feature']=['Temperature',
                     'Tyre 1 Pressure',
                     'Tyre 2 Pressure',
                     'Tyre 3 Pressure',
                     'Tyre 4 Pressure',
                     'Tyre 5 Pressure',
                     'Tyre 6 Pressure',
                     'Average Speed',
                     'Time',
                     'Fuel',]
scores=[]

In [3]:
from scipy import stats
from scipy.spatial.distance import correlation
print('Temperature')
dist_corr=correlation(df["efficiency"], df["temperature"])
print(dist_corr)
scores.append(dist_corr-1)
#print(scores)

Temperature
1.0261668501

In [4]:
from scipy import stats 
print('Tyre 1 Pressure')
dist_corr=correlation(df["efficiency"], df["tyre1_press"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Tyre 1 Pressure
1.03675312235
[0.026166850095449723, 0.036753122354680201]

In [5]:
from scipy import stats 
print('Tyre 2 Pressure')
dist_corr=correlation(df["efficiency"], df["tyre2_press"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Tyre 2 Pressure
0.921415498655
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336]

In [6]:
from scipy import stats 
print('Tyre 3 Pressure')
dist_corr=correlation(df["efficiency"], df["tyre3_press"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Tyre 3 Pressure
0.976653982757
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336, -0.023346017242834582]

In [7]:
from scipy import stats 
print('Tyre 4 Pressure')
dist_corr=correlation(df["efficiency"], df["tyre4_press"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Tyre 4 Pressure
0.97574634748
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336, -0.023346017242834582, -0.024253652520025759]

In [8]:
from scipy import stats 
print('Tyre 5 Pressure')
dist_corr=correlation(df["efficiency"], df["tyre5_press"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Tyre 5 Pressure
0.959714006856
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336, -0.023346017242834582, -0.024253652520025759, -0.040285993143540755]

In [9]:
from scipy import stats 
print('Tyre 6 Pressure')
dist_corr=correlation(df["efficiency"], df["tyre6_press"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Tyre 6 Pressure
1.0658097554
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336, -0.023346017242834582, -0.024253652520025759, -0.040285993143540755, 0.065809755404775627]

In [10]:
from scipy import stats 
print('Average Speed')
dist_corr=correlation(df["efficiency"], df["avg_speed"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Average Speed
0.994519822069
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336, -0.023346017242834582, -0.024253652520025759, -0.040285993143540755, 0.065809755404775627, -0.0054801779314241905]

In [11]:
from scipy import stats 
print('Time')
dist_corr=correlation(df["efficiency"], df["time"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Time
0.9797161722
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336, -0.023346017242834582, -0.024253652520025759, -0.040285993143540755, 0.065809755404775627, -0.0054801779314241905, -0.020283827800015808]

In [12]:
from scipy import stats 
print('Fuel')
dist_corr=correlation(df["efficiency"], df["fuel"])
print(dist_corr)
scores.append(dist_corr-1)
print(scores)

Fuel
1.09325709396
[0.026166850095449723, 0.036753122354680201, -0.078584501345207336, -0.023346017242834582, -0.024253652520025759, -0.040285993143540755, 0.065809755404775627, -0.0054801779314241905, -0.020283827800015808, 0.093257093958590609]

In [13]:
feature_dict = {i:label for i,label in zip(
                  ('Temperature',
                     'Tyre 1 Pressure',
                     'Tyre 2 Pressure',
                     'Tyre 3 Pressure',
                     'Tyre 4 Pressure',
                     'Tyre 5 Pressure',
                     'Tyre 6 Pressure',
                     'Average Speed',
                     'Time',
                     'Fuel',),scores)}
print(feature_dict)
final_df['DCC'] = final_df['Feature'].map(feature_dict)

{'Temperature': 0.026166850095449723, 'Tyre 1 Pressure': 0.036753122354680201, 'Tyre 2 Pressure': -0.078584501345207336, 'Tyre 3 Pressure': -0.023346017242834582, 'Tyre 4 Pressure': -0.024253652520025759, 'Tyre 5 Pressure': -0.040285993143540755, 'Tyre 6 Pressure': 0.065809755404775627, 'Average Speed': -0.0054801779314241905, 'Time': -0.020283827800015808, 'Fuel': 0.093257093958590609}

In [15]:
final_df['DCC'] = final_df['DCC'].abs()

final_df=final_df.sort_values(by='DCC', ascending=False)

final_df['Rank']=range(1,11)

final_df

           Feature       DCC  Rank
9             Fuel  0.093257     1
2  Tyre 2 Pressure  0.078585     2
6  Tyre 6 Pressure  0.065810     3
5  Tyre 5 Pressure  0.040286     4
1  Tyre 1 Pressure  0.036753     5
0      Temperature  0.026167     6
4  Tyre 4 Pressure  0.024254     7
3  Tyre 3 Pressure  0.023346     8
8             Time  0.020284     9
7    Average Speed  0.005480    10